/*!
 * Jesse Wong
 * @straybugs
 * https://github.com/Crimx/BingDictPlus
 * MIT Licensed
 */

.hybrid-translator {
  position: absolute !important;
  z-index: 99999 !important;

  margin: 0 !important;
  padding: 0 !important;
  border: none !important;

  display: none;
}

img.hybrid-translator {
  height: 24px !important;
  width: 24px !important;
}

iframe.hybrid-translator {
  width: 300px !important;
  min-height: 200px !important;
  background-color: white !important;
  border: 1px solid #e64e26 !important;
}